body {
    background-color: rgb(19, 19, 156);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1rem;
}

.game-status {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

button {
    padding: 1.2rem 1.6rem;
    background-color: rgb(13, 133, 13);
    color: inherit;
    border: .15rem solid rgb(19, 19, 156);
    border-radius: .8rem;
    font-size: inherit;
}

button:hover {
    background-color: rgb(7, 99, 7);
    border-color: white;
}

button:active {
    background-color: rgb(2, 70, 2);
}

.options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.container h1 {
    font-size: 2rem;
    transform: scale(1.1, 1);
}

.result {
    margin: 1.2rem 0 0 0;
    font-weight: bold;
}
